@import '../../Sass/global.scss';

.bg-bottom{
    width: 75%;
    position: absolute;
    right: -290px;
    top: 350px;
 }

.bg-top{
    width: 75%;
    position: absolute;
    top: -500px;
    left: -300px;
}